body {
  background-color: #eee2dc;
  color: #2c3531;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h4,
h3 {
  padding: 1em 0;
}

main {
  flex: 1 0 auto;
}

nav,
.page-footer,
.submit-btn,
.card-content,
.card-reveal,
.user-card,
.user-btn {
  background-color: #2c3531 !important;
  color: #eee2dc !important;
}

.submit-btn,
.user-btn {  
    border: double;
    margin-bottom: 10px;
}

.submit-btn:hover, .user-btn:hover {
  background-color: #eee2dc;
  color: #2c3531;
}

.user-btn:hover {
  background-color: #eee2dc;
  color: #2c3531;
}

@media screen and (min-width:320px) {
    .book-image {
        height: 350px !important;
    }
    .card-content {
        height: 200px !important;
    }
    .card { 
        width: 75%;
        margin-left: 45px;
    }
}

@media screen and (min-width:480px) {
    .book-image {
        height: 475px !important;
    }
    .card-content {
        height: 200px !important;
    }
    .card { 
        width: 75%;
        margin-left: 50px;
    }
}

@media screen and (min-width:600px) {
    .book-image {
        height: 275px !important;
    }
    .card-content {
        height: 235px !important;
    }
    .card { 
        width: 75%;
        margin-left: 25px;
    }
    #profile-card {
        width: 80% !important;
        margin-left: 35px;
    }
}

/* media query for tablet, landscape iPad, lo-res laptops ands desktops  */
@media screen and (min-width:801px) {
    .book-image {
        height: 300px !important;
    }
    .card-content {
        height: 250px !important;
    }
    .card { 
        width: 85%;
        margin-left: 25px;
    }
}

/* media query for big landscape tablets, laptops, and desktop */
@media screen and (min-width: 1025px) {
    .book-image {
        height: 280px !important;
    }
    .card-content {
        height: 240px !important;
    }
    .card { 
        width: 85%;
        margin-left: 40px;
    }
    #profile-card {
        width: 80% !important;
        margin-left: 20px;
    }
}

/* media query for hi-res laptops and desktops */
@media screen and (min-width: 1281px){
    .book-image {
        height: 350px !important;
    }
    .card-content {
        height: 200px !important;
    }
    .card { 
        width: 70%;
        margin-left: 70px;
    }
    .login-img {
        height: 200px;
        width: 100%;
        margin-top: 20px;
    }
}
