{% extends "base.html" %} {% block content %}
<h3 class="center-align">Login Here!</h3>

<div class="row">
  <form class="col l6 m6 s12 offset-l3 offset-m3">
    <div class="row">
      <div class="input-field col s12">
        <input
          id="username"
          type="text"
          minlength="5"
          maxlength="15"
          pattern="^[a-zA-Z0-9]{5,15}$"
          class="validate"
          required
        />
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input
          id="password"
          name="password"
          type="password"
          minlength="5"
          maxlength="15"
          pattern="^[a-zA-Z0-9]{5,15}$"
          class="validate"
          required
        />
        <label for="password">Password</label>
      </div>
    </div>
  </form>
</div>

{% endblock %}
