{% extends "base.html" %} {% block content %}

<h3 class="center-align">Login Here!</h3>

<!-- form -->
<div class="row">
  <form
    class="col l6 m6 s12 offset-l3 offset-m3"
    method="POST"
    action="{{ url_for('login') }}"
  >
    <!-- username -->
    <div class="row">
      <div class="input-field col s12">
        <input
          id="username"
          name="username"
          type="text"
          minlength="5"
          maxlength="15"
          pattern="^[a-zA-Z0-9]{5,15}$"
          class="validate"
          required
        />
        <label for="username">Username</label>
      </div>
    </div>
    <!-- password -->
    <div class="row">
      <div class="input-field col s12">
        <input
          id="password"
          name="password"
          type="password"
          minlength="5"
          maxlength="15"
          pattern="^[a-zA-Z0-9]{5,15}$"
          class="validate"
          required
        />
        <label for="password">Password</label>
      </div>
      <!-- login button -->
      <div class="row">
        <button type="submit" class="col s12 btn-large submit-btn">
          Login <i class="fas fa-sign-in-alt"></i>
        </button>
      </div>
    </div>
  </form>
  <!-- link to register -->
  <div class="row">
    <div class="col s12">
      <p class="center-align">
        New to the site? <a href="{{ url_for('register') }}"> Register Now </a>
      </p>
    </div>
  </div>
  <!-- homepage content -->
  <!-- Title -->
  <div class="row">
    <div class="col s12 m12 l12">
      <h4 class="center-align">What is Never Judge A Book?</h4>
    </div>
  </div>
  <!-- 1st image and text -->
  <div class="row">
    <div class="col s12 m6 l4 offset-l1 offset-m3">
      <div class="card">
        <div class="card-image">
          <img src="static/images/loveBooks.jpg" />
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4 offset-l1 offset-m3">
      <p class="center-align flow-text">
        Vestibulum eleifend orci vel nunc molestie, sit amet sollicitudin nunc
        iaculis. Sed consequat mi vel cursus iaculis. Pellentesque euismod odio
        non mi viverra, ac tempor orci congue
      </p>
    </div>
  </div>
  <!-- 2nd image and text (hidden on med and mobile devices) -->
  <div class="row hide-on-med-and-down">
    <div class="col s12 m6 l4 offset-l1">
      <p class="center-align flow-text">
        Vestibulum eleifend orci vel nunc molestie, sit amet sollicitudin nunc
        iaculis. Sed consequat mi vel cursus iaculis. Pellentesque euismod odio
        non mi viverra, ac tempor orci congue
      </p>
    </div>
    <div class="col s12 m6 l4 offset-l1">
      <div class="card">
        <div class="card-image">
          <img src="static/images/openBook.jpg" />
        </div>
      </div>
    </div>
  </div>
  <!-- 3rd image and text -->
  <div class="row">
    <div class="col s12 m6 l4 offset-l1 offset-m3">
      <div class="card">
        <div class="card-image">
          <img src="static/images/bookBackground.jpg" />
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4 offset-l1 offset-m3">
      <p class="center-align flow-text">
        Vestibulum eleifend orci vel nunc molestie, sit amet sollicitudin nunc
        iaculis. Sed consequat mi vel cursus iaculis. Pellentesque euismod odio
        non mi viverra, ac tempor orci congue. 
      </p>
    </div>
  </div>
  <div class="row hide-on-large-only">
    <div class="col s12 m6 l4 offset-l1 offset-m3">
      <div class="card">
        <div class="card-image">
          <img src="static/images/openBook.jpg" />
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4 offset-l1 offset-m3">
      <p class="center-align flow-text">
        Vestibulum eleifend orci vel nunc molestie, sit amet sollicitudin nunc
        iaculis. Sed consequat mi vel cursus iaculis. Pellentesque euismod odio
        non mi viverra, ac tempor orci congu
      </p>
    </div>
  </div>
</div>
{% endblock %}
