{% extends "base.html" %} {% block content %}
<h3 class="center-align">Register Here!</h3>
<!-- form -->
<div class="row">
  <form
    class="col l6 m6 s12 offset-l3 offset-m3"
    method="POST"
    action="{{ url_for('register') }}"
  >
    <!-- username -->
    <div class="row">
      <div class="input-field col s12">
        <input
          id="username"
          name="username"
          type="text"
          minlength="5"
          maxlength="15"
          pattern="^[a-zA-Z0-9]{5,15}$"
          class="validate"
          required
        />
        <label for="username">Username</label>
      </div>
    </div>
    <!-- password -->
    <div class="row">
      <div class="input-field col s12">
        <input
          id="password"
          name="password"
          type="password"
          minlength="5"
          maxlength="15"
          pattern="^[a-zA-Z0-9]{5,15}$"
          class="validate"
          required
        />
        <label for="password">Password</label>
      </div>
      <!-- register -->
      <div class="row">
        <button
          type="submit"
          class="col s12 btn-large submit-btn"
        >
          register <i class="fas fa-sign-in-alt"></i>
        </button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col s12">
        <p class="center-align">
            Already Registered? <a href="{{ url_for('login') }}">
                Login Here!
            </a>
        </p>
    </div>
  </div>
  <!-- homepage content -->
  <!-- Title -->
  <div class="row">
    <div class="col s12 m12 l12">
      <h4 class="center-align">What is Never Judge A Book?</h4>
    </div>
  </div>
  <!-- 1st image and text -->
  <div class="row">
    <div class="col s12 m6 l4 offset-l1 offset-m3">
      <div class="card">
        <div class="card-image">
          <img class="login-img" src="static/images/loveBooks.jpg" />
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4 offset-l1 offset-m3">
      <p class="center-align login-par">
        Never Judge A Book is a website for people to come and view book reviews added by other users. It is a close and intimate site allowing users to add their favourite books and what they thought and their not so favourite books and what they thought!
      </p>
    </div>
  </div>
  <!-- 2nd image and text (hidden on med and mobile devices) -->
  <div class="row hide-on-med-and-down">
    <div class="col s12 m6 l4 offset-l1">
      <p class="center-align login-par">
        If you are a book lover, this site is perfect for you. All you need to do is <a class="text-blue" href="{{ url_for('login') }}">log in</a> for the site and you can log in whenever suits you and simply uplaod your review.
      </p>
    </div>
    <div class="col s12 m6 l4 offset-l1">
      <div class="card">
        <div class="card-image">
          <img class="login-img" src="static/images/openBook.jpg" />
        </div>
      </div>
    </div>
  </div>
  <!-- 3rd image and text -->
  <div class="row">
    <div class="col s12 m6 l4 offset-l1 offset-m3">
      <div class="card">
        <div class="card-image">
          <img class="login-img" src="static/images/glassesBook.jpg" />
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4 offset-l1 offset-m3">
      <p class="center-align login-par">
        We hope you like this website, we encourage all of our members to give a good detailed review of all the books they have read. There will also be extra features coming to the site soon, such as a blog and a book recommendation page. Enjoy your reading!
      </p>
    </div>
  </div>
  <!-- 2nd image and text (hidden on large devices) -->
  <div class="row hide-on-large-only">
    <div class="col s12 m6 l4 offset-l1 offset-m3">
      <div class="card">
        <div class="card-image">
          <img class="login-img" src="static/images/openBook.jpg" />
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4 offset-l1 offset-m3">
      <p class="center-align">
        If you are a book lover, this site is perfect for you. All you need to do is <a class="text-blue" href="{{ url_for('login') }}">log in</a> for the site and you can log in whenever suits you and simply uplaod your review.
      </p>
    </div>
  </div>
</div>
{% endblock %}
