{% extends "base.html" %} {% block content %}

<!-- {% for book in books %}
        {{ book.book_title }}<br>
        {{ book.author }}<br>
        {{ book.genre }} <br>
    {% endfor %} -->
<h3 class="center-align">Check out our book reviews</h3>

<div class="row">
  {% for book in books %}
  <div class="col s6 m4 l2 offset-s3">
    <div class="card">
      <div class="card-image">
        <img
          class="book-image activator"
          src="static/images/{{ book.image }}"
        />
      </div>
      <div class="card-content">
        <span class="card-title activator"
          >{{ book.title }}<i class="material-icons right">more_vert</i
        ></span>
        <p>{{ book.author }}</p>
        <p>{{ book.genre }}</p>
        <p><a href="#">{{ book.link }}</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title"
          >{{ book.title }}<i class="material-icons right">close</i></span
        >
        <p>
          Here is some more information about this product that is only revealed
          once clicked on.
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
