{% extends "base.html" %} {% block content %}

<h3 class="center-align">Write Your Review Here!</h3>

<div class="row">
  <!-- write review form -->
  <form
    class="s12 m8 l8 offset-l2 offset-m2"
    method="POST"
    action="{{ url_for('write_review') }}"
  >
    <!-- book title input -->
    <div class="row">
      <div class="input-field col s12">
        <input
          id="book_title"
          name="book_title"
          type="text"
          class="validate"
          required
        />
        <label for="book_title"><i class="fas fa-book"></i> Book Title</label>
      </div>
    </div>
    <!-- author input -->
    <div class="row">
      <div class="input-field col s12">
        <input
          id="author"
          name="author"
          type="text"
          class="validate"
          required
        />
        <label for="author"><i class="fas fa-signature"></i> Author</label>
      </div>
    </div>
    <!-- image adress input -->
    <div class="row">
      <div class="input-field col s12">
        <input id="image" name="image" type="text" class="validate" required />
        <label for="image"
          ><i class="fas fa-images"></i> Copy Image Address Here</label
        >
      </div>
    </div>
    <!-- genre input -->
    <div class="row">
      <div class="input-field col s12">
        <input id="genre" name="genre" type="text" class="validate" required />
        <label for="genre"><i class="fas fa-filter"></i> Genre</label>
      </div>
    </div>
    <!-- review input -->
    <div class="row">
      <div class="input-field col s12">
        <textarea
          id="review"
          name="review"
          class="materialize-textarea"
          required
        ></textarea>
        <label for="review"
          ><i class="fas fa-pencil-alt"></i> Write your review here</label
        >
      </div>
    </div>
    <!-- add review -->
    <div class="row">
      <div class="col s12 center-align">
        <a href="{{ url_for('review') }}" class="btn-large submit-btn">
          Cancel <i class="fas fa-window-close"></i
        ></a>
        <button type="submit" class="btn-large submit-btn">
          Add Review <i class="fas fa-plus-square right"></i>
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
